<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levels</key>
	<array>
		<dict>
			<key>levelType</key>
			<string>standard</string>
			<key>enemies</key>
			<array/>
			<key>blocks</key>
			<array>
				<dict>
					<key>blockType</key>
					<string>solid</string>
					<key>blockX</key>
					<integer>80</integer>
					<key>blockY</key>
					<integer>75</integer>
					<key>itemType</key>
					<string></string>
				</dict>
			</array>
			<key>presets</key>
			<array>
				<dict>
					<key>presetType</key>
					<string>endLevel</string>
					<key>presetX</key>
					<integer>400</integer>
					<key>presetY</key>
					<integer>0</integer>
					<key>presetSize</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>levelType</key>
			<string>standard</string>
			<key>enemies</key>
			<array/>
			<key>blocks</key>
			<array>
				<dict>
					<key>blockType</key>
					<string>solid</string>
					<key>blockX</key>
					<integer>200</integer>
					<key>blockY</key>
					<integer>150</integer>
					<key>itemType</key>
					<string></string>
				</dict>
				<dict>
					<key>blockType</key>
					<string>item</string>
					<key>blockX</key>
					<integer>160</integer>
					<key>blockY</key>
					<integer>150</integer>
					<key>itemType</key>
					<string></string>
				</dict>
				<dict>
					<key>blockType</key>
					<string>solid</string>
					<key>blockX</key>
					<integer>160</integer>
					<key>blockY</key>
					<integer>75</integer>
					<key>itemType</key>
					<string></string>
				</dict>
				<dict>
					<key>blockType</key>
					<string>solid</string>
					<key>blockX</key>
					<integer>120</integer>
					<key>blockY</key>
					<integer>75</integer>
					<key>itemType</key>
					<string></string>
				</dict>
				<dict>
					<key>blockType</key>
					<string>solid</string>
					<key>blockX</key>
					<integer>80</integer>
					<key>blockY</key>
					<integer>75</integer>
					<key>itemType</key>
					<string></string>
				</dict>
			</array>
			<key>presets</key>
			<array>
				<dict>
					<key>presetType</key>
					<string>koopa</string>
					<key>presetX</key>
					<integer>250</integer>
					<key>presetY</key>
					<integer>100</integer>
					<key>presetSize</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>presetType</key>
					<string>endLevel</string>
					<key>presetX</key>
					<integer>400</integer>
					<key>presetY</key>
					<integer>0</integer>
					<key>presetSize</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>levelType</key>
			<string>standard</string>
			<key>enemies</key>
			<array>
				<dict>
					<key>enemyType</key>
					<string>koopa</string>
					<key>enemyX</key>
					<integer>80</integer>
					<key>enemyY</key>
					<integer>100</integer>
				</dict>
			</array>
			<key>blocks</key>
			<array>
				<dict>
					<key>blockType</key>
					<string>solid</string>
					<key>blockX</key>
					<integer>80</integer>
					<key>blockY</key>
					<integer>100</integer>
					<key>itemType</key>
					<string></string>
				</dict>
				<dict>
					<key>blockType</key>
					<string>solid</string>
					<key>blockX</key>
					<integer>120</integer>
					<key>blockY</key>
					<integer>100</integer>
					<key>itemType</key>
					<string></string>
				</dict>
				<dict>
					<key>blockType</key>
					<string>breakable</string>
					<key>blockX</key>
					<integer>160</integer>
					<key>blockY</key>
					<integer>100</integer>
					<key>itemType</key>
					<string></string>
				</dict>
				<dict>
					<key>blockType</key>
					<string>item</string>
					<key>blockX</key>
					<integer>200</integer>
					<key>blockY</key>
					<integer>100</integer>
					<key>itemType</key>
					<string>oneup</string>
				</dict>
			</array>
			<key>presets</key>
			<array>
				<dict>
					<key>presetType</key>
					<string>endLevel</string>
					<key>presetX</key>
					<integer>400</integer>
					<key>presetY</key>
					<integer>20</integer>
					<key>presetSize</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
